Flask>=0.10.1
SQLAlchemy>=1.0.11
XlsxWriter>=0.8.4
boto3>=1.3.0
google-api-python-client>=1.5.0
gunicorn>=19.4.5
iplotter>=0.3.0
jupyter>=1.0.0
lightfm>=1.8
lime>=0.1.1.9
matplotlib>=1.5.1
networkx>=1.11
nose>=1.3.7
pandas>=0.18.0
patsy>=0.4.1
pivottablejs>=0.1.0
pyyaml>=3.11
scikit-learn>=0.17.1
seaborn>=0.7.0
sklearn-pandas>=1.1.0
statsmodels>=0.6.1
xlrd>=0.9.4
xlwt>=1.0.0
psycopg2>=2.6.1
